[submodule "backend/taiga-back"]
	path = backend/taiga-back
	url = https://github.com/taigaio/taiga-back.git
[submodule "frontend/taiga-front-dist"]
	path = frontend/taiga-front-dist
	url = https://github.com/taigaio/taiga-front-dist.git
[submodule "wait-for-it"]
	path = wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
